{namespace form=Neos\Form\ViewHelpers}
<f:validation.results for="{element.identifier}">
	<div class="clearfix{f:if(condition: validationResults.flattenedErrors, then: ' error')}"<f:if condition="{element.rootForm.renderingOptions.previewMode}"> data-element="{form:form.formElementRootlinePath(renderable:element)}"</f:if>>
	<f:if condition="{validationResults.flattenedErrors}">
				<span class="help-inline">
					<f:for each="{validationResults.errors}" as="error">
						{error -> f:translate(id: '{error.code}', arguments: error.arguments, package: '{element.renderingOptions.validationErrorTranslationPackage}', source: 'ValidationErrors')}
						<br />
					</f:for>
				</span>
	</f:if>
	<f:if condition="{element.properties.elementDescription}">
		<span class="help-block">{element -> form:translateElementProperty(property: 'elementDescription')}</span>
	</f:if>
	<label for="{element.uniqueIdentifier}_username">{element -> form:translateElementProperty(property: 'labelUsername') -> f:format.nl2br()}<f:if condition="{element.required}"><f:render partial="Neos.Form:Field/Required" /></f:if></label>
	<div class="{element.properties.containerClassAttribute}">
		<f:form.textfield property="{element.identifier}[username]" id="{element.uniqueIdentifier}_username" class="{element.properties.elementClassAttribute}" type="{element.properties.type}" placeholder="{element -> form:translateElementProperty(property: 'placeholderUsername')}" additionalAttributes="{element.properties.additionalAttributes}" required="true" errorClass="{element.properties.elementErrorClassAttribute}" />
	</div>
	<label for="{element.uniqueIdentifier}_password">{element -> form:translateElementProperty(property: 'labelPassword') -> f:format.nl2br()}<f:if condition="{element.required}"><f:render partial="Neos.Form:Field/Required" /></f:if></label>
	<div class="{element.properties.containerClassAttribute}">
		<f:form.password property="{element.identifier}[password]" id="{element.uniqueIdentifier}_password" class="{element.properties.elementClassAttribute}" placeholder="{element -> form:translateElementProperty(property: 'placeholderPassword')}" errorClass="{element.properties.elementErrorClassAttribute}" required="true" />
	</div>
	</div>
</f:validation.results>
